# Source: https://www.nano-editor.org/dist/latest/nano.html#Settings

# параметры cli:
# современный синтаксис: -/

# команды:
# M-P (Alt + P) : показывать пробелы и табуляцию

# цвета
# [bold,][italic,] pink, purple, mauve, lagoon, mint, lime, peach, orange,
# latte, rosy, beet, plum, sea, sky, slate, teal, sage, brown,
# ocher, sand, tawny, brick, crimson, и normal


# подключение стандартного набора подсветки синтаксиса
include "/usr/share/nano/*.nanorc"
include "/usr/share/nano/extra/*.nanorc"

# set backup # при сохранении файла создайте резервную копию его предыдущей версии, используя текущее имя файла с суффиксом тильда ( ~).
# set backupdir "~/.backup/nano" # назначить отдельное место хранения всех сохраняемых файлов


set mouse      # включает поддержку мыши
set smarthome  # поддержка key home on keyboard
set positionlog # сохраняет позицию курсора после закрытия файла

# нумерация строк
set linenumbers # включить слева
set numbercolor italic,plum # цвет

# перенос строк
set softwrap       # автоматический перенос строк
set atblanks       # мягкий перенос строк по пробелам и табам
# set breaklonglines # сокращение длинных строк в одну строку

# полосы прокрутки
set indicator # включить
set scrollercolor peach,lagoon # цвета 1,2

set autoindent # авто отступ
set trimblanks # автоматическое удаление пробелов по краям
set tabsize 4 # размер табуляции
# set tabstospaces # преобразовывает табы в пробелы

set emptyline # пустая строка в начале
set statuscolor mint,black # цвет строки состояния
set constantshow  # отображает позицию курсора в строке состояние
set titlecolor black,yellow # цвет строки заголовка
set stateflags # используйте правый верхний угол экрана для отображения некоторых флагов состояния
set promptcolor mint # цвет подсказки
set selectedcolor white,blue # цвет выделения текста


# set saveonexit # авто сохранение при выходе (^X)

# set keycolor red,green # цвет справки
# set functioncolor white,black # цвет названий справки
# set errorcolor white,red # цвет ошибки

# set minibar # переносит header вниз
# set nohelp  # отключает справку

# set guidestripe 80         # визуальная ограничительная линия для текста (в символах)
# set stripecolor black,plum # цвет визуальной ограничительной линии

# set cutfromcursor # по умолчанию будет вырезать до конца строки вместо всей строки
# set historylog # включает историю для поиска

# set whitespace ">." # символы для табуляции и пробела
# set whitespace "»·"
# set punct ".!?"
# set brackets "')>]}"
